<?xml version="1.0" encoding="utf-8"?>
<Project>
  <ProcessTimeOutDuration>180</ProcessTimeOutDuration>
  <PackageLocation>D:\sources\repos\DemoApplication\.AppAttachPackages</PackageLocation>
  <Configuration>Debug</Configuration>
  <PackageVersion>1.0.0.0</PackageVersion>
  <Platform>x64</Platform>
  <CertificatePath>E:\Certificates\ContosoLab.pfx</CertificatePath>
  <PublishType>AVD</PublishType>
</Project>